@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    color: white;
    background: #333;

}

header .contenedor {
    display: table
}

header h1 {
    float: left;
}

#menu-bar {
    display: none;
}

.menu {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(51, 51, 51, 0.9);
    transition: all 0.5s;
    transform: translateX(-100%);
}

.menu a {
    display: block;
    color: #fff;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255,255, 255, 0.5);
}
.menu a:hover {
    background: rgba(255,255, 255, 0.3);
}

#menu-bar:checked ~ .menu { 
    transform: translateX(0%);
 }

header label {
    float: right;
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;
}

.contenedor {
    width: 98%;
    margin: auto;
}

section {
    width: 100%;
    margin-bottom: 25px;
}


#banner {
    margin-top: 50px;
    position: relative;
}

#banner img {
    width: 100%;
    height: 100%;
}

#banner .contenedor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: white;
}

#banner h2 {
    font-size: 28px;
}

#inicio {
    text-align: center;
}

#servicios .contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#servicios article {
    margin: 15px;
}

#servicios img {
    width: 100%;
    max-width: 380px;

}

#servicios h3,
h4 {
    text-align: center;
}

#info {
    background-color: #333;
    color: white;
    text-align: center;
}

#info .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info-lugares {
    margin: 20px;
}

.info-lugares img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 7px solid #fff;
}

footer .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
}

.copy {
    font-size: 20px;
}

.sociales {
    width: 100%;
    text-align: center;
    font-size: 28px;
}

.sociales a {
    color: #333;
    text-decoration: none;
}


@media (min-width:1024px) {
    .menu {
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0%);
        float: right;
        display: flex;
    }

    header label {
        display: none;

    }

    .info-pet {
        width: auto;
    }

    #banner img {
        margin-top: -200px;
    }
}

@media (min-width:480px) {
    #banner h2 {
        font-size: 40px;
    }

    .info-pet {
        width: 40%;
    }

}

@media (min-width: 768px) {
    #banner {
        height: 300px;
        overflow: hidden;
    }

    #banner img {
        height: auto;
        margin-top: -100px;
    }

    .sociales {
        width: auto;
    }

    footer .contenedor {
        justify-content: space-between;
    }
}